<h1>Recipes</h1>
  <% @recipes.each do |recipe|%>
    <%= "Recipe Name: #{recipe.name}" %> <br>
    <%= "Ingredients: #{recipe.ingredients}" %> <br>
    <%= "Cook time: #{recipe.cook_time} " %> 
    <a href="/recipes/<%= recipe.id %>">edit</a> 
    <a href="/recipes/<%= recipe.id %>/edit">edit</a> <br> <br>
  <%end%> <br>

  <a href="/recipes/new">New recipe</a>
